* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sr-only {
  width: 1px;
  height: 1px;
  visibility: hidden;
  z-index: -9999;
  position: absolute;
  top: -999;
  left: -999;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ECF2F8;
}

main {
  width: 327px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  letter-spacing: 0.12px;
  line-height: 1.538461538461538;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.article-contents-wrap {
  width: 100%;
  padding: 36px 32px 16px;
}

.article-image-wrap {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.article-image {
  display: block;
  width: 100%;
  height: auto;
}

.article-description-wrap {
  margin-bottom: 32px;
}

.title {
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 1.5; 
  color: #48556A;
  margin-bottom: 12px;
}

.description {
  color: #6E8098;
}

.footer-contents-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text-wrap {
  flex-grow: 2;
}

.author-name {
  color: #48556A;
  font-weight: 700;
}

.date-created {
  color: #9DAEC2;
}

.author-profile-img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.sns-share-btn {
  z-index: 5;
  cursor: pointer;
  display: block;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-image: url(./images/icon-share.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.sns-share-container {
  z-index: 4;
  display: flex;
  align-items: center;
  position: absolute;
  /* article-container - relative */
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 18px 32px; 
  background-color: #48556A;
}

.sns-share-title {
  color: #9DAEC2;
  letter-spacing: 5px;
  margin-right: 20px;
}

.sns-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.sns-links > li:nth-child(2) {
  margin: 0 8px;
}

.sns-icon {
  display: block;
}

.sns-links button {
  display: block;
  padding: 4px;
  border: none;
  background-color: transparent;
}


/* desktop */
@media screen and (min-width: 1440px) {
  main {
    width: 730px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .article-container {
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .article-contents-wrap {
    width: 445px;
    padding: 32px 40px;
  }
  
  .article-image-wrap {
    width: 285px;
    height: 280px;
    overflow: hidden;
  }
  
  .article-image {
    display: block;
    width: 350px;
    height: auto;
  }
  
  .article-description-wrap {
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 20px;
    letter-spacing: 0.25px;
    line-height: 1.4; 
  }
    
  .footer-contents-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .sns-share-container {
    width: 248px;
    height: 56px;
    border-radius: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute;
    /* main - fixed */
    left: auto;
    bottom: 88px;
    right: -68px;
    padding: 0;
  }

  .sns-share-container::after {
    content: '';
    border: 12px solid;
    border-color: #48556A transparent transparent transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -22px;
  }
  
}